@import "../../../../css/variables.scss";

.card-button {
  height: 40px;
  border: 1px solid color(textLight);
  color: color(textLight);
  cursor: pointer;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: right;
  padding: 10px;
  margin-right: 10px;
  transition: 0.3s;
  width: 50px;
  overflow: hidden;
  &:last-child {
    margin-right: 0px;
  }
  &:hover {
    background-color: lighten(color(menuPrimary), 10%);
    width: 100px;
  }
}
.card-button-text {
  font-size: 16px;
  margin-right: 10px;
}
.button-icon {
  height: 24px;
  width: 24px;
  fill: color(textLight);
}
